.footer-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: palegreen;
}

.footer-container ul {
  list-style: none;
}
.footer-1 {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  margin: 0 300px;
  border: 1px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-2 {
  border: 1px solid orange;
  display: flex;
  padding: 10px;
  align-items: center;
}
#footer-2a,
#footer-2b,
#footer-2c {
  margin: 5px;
}
