.footer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: grey;
}

.footer-container ul {
  height: 20px;
  list-style: none;
}
.footer-1 {
  display: flex;
  align-items: center;
  justify-items: center;
  /* margin: 0 300px; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.footer-2a img {
  width: 10px;
  height: 10px;
}

.footer-2 {
  display: flex;
  padding: 10px;
  align-items: center;
}
#footer-2a,
#footer-2b,
#footer-2c {
  margin: 5px;
}
