.footer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: grey;
  height: 40px;
}

.footer-container ul {
  list-style: none;
}
.footer-1 {
  display: flex;
  align-items: center;
  justify-items: center;
}

.footer-2a img {
  width: 10px;
  height: 10px;
}

.footer-2 {
  display: flex;
  padding: 10px;
  align-items: center;
}
#footer-2a,
#footer-2b,
#footer-2c {
  margin: 5px;
}

@media screen and (max-width: 943px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: grey;
    height: 40px;
    width: 950px;
  }
}