.section-other-stories {
  width: 100vw;
  height: auto;
  background-color: grey;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 0.7fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.image-container-3 {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px 50px 0 0;
}

.box {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 10px;
  border-radius: 50px;
  padding-bottom: 5px;
}


.box a {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
}

.box a:hover {
  transform: translateY(-3px);
}
.box a:hover::after {
  transform: scaleX(1.4) scaleY(2);
  opacity: 0;
}

.box p {
  padding: 5px;
  text-align: center;
}

.other-stories-heading {
  font-family: Merriweather;
  letter-spacing: 3.5px;
  width: inherit;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 943px) {
  .section-other-stories {
    width: 950px ;
    height: auto;
    background-color: grey;
  }
  .box {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 50px;
    padding-bottom: 25px;
  }
}