.top-stories {
  width: 80vw;
  height: 500px;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-content: center;
}

.top-stories-1 {
  display: flex;
  justify-content: center;
  margin: 40px;
  line-height: 1.7;
}
.top-stories-2 {
  display: flex;
  justify-content: center;
  margin: 40px;
  line-height: 1.7;
}

.image-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("../img/2.png");
  background-size: cover;
  background-position: center;
}
.image-container-2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("../img/5.jpg");
  background-size: cover;
  background-position: center;
}

.link-align {
  display: flex;
  justify-content: flex-end;
}
.link-align a {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
}
.link-align-2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.link-align-2 a {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
}
.link-align-2 a:hover {
  transform: translateY(-3px);
}
.link-align-2 a:hover::after {
  transform: scaleX(1.4) scaleY(2);
  opacity: 0;
}
.link-align a:hover {
  transform: translateY(-3px);
}
.link-align a:hover::after {
  transform: scaleX(1.4) scaleY(2);
  opacity: 0;
}

.news-text {
  width: 600px;
  padding: 30px;
  margin-top: 50px;
}
.title {
  font-style: oblique;
  text-align: center;
  display: block;
  font-size: 200%;
}

.top-stories-heading {
  font-family: Merriweather;
  letter-spacing: 3.5px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

@media screen and (max-width:943px) {
  .image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/2.png");
    background-size: cover;
    background-position: center;
  }
  .image-container-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/5.jpg");
    background-size: cover;
    background-position: center;
  }
}
